<!doctype html>
<html lang="fa" ng-app="gemStore">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Learning</title>
	<link href="style/bootstrap.min.css" rel="stylesheet" />
	<!-- <link href="style/bootstrap-rtl.min.css" rel="stylesheet" /> -->
	<link href="style/style.css" rel="stylesheet" />
	<script type="text/javascript" src="script/angular.min.js"></script>
	<script type="text/javascript" src="script/app.js"></script>
</head>
<body class="list-group" ng-controller="StoreController as store">

	<header>
		<h1 class="text-center">Flatlander Crafted Gems</h1>
		<h2 class="text-center">- an Angular store -</h2>
	</header>

	<div class="list-group-item" ng-repeat="product in store.products">
		<h3>
			{{product.name}}
			<em class="pull-right">{{product.price | currency}}</em>
		</h3>

		<!-- Image Gallery-->
		<div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
			<img ng-src="{{product.images[gallery.current]}}" />
			<ul class="list-inline thumbs">
				<li class="thumbnail" ng-repeat="image in product.images">
					<img ng-src="{{image}}" />
				</li>
			</ul>			
		</div>

		<section class="tab" ng-controller="TabController as tab">
			<ul class="nav nav-pills">
				<li ng-class="{active: tab.isSet(1)}">
					<a href ng-click="tab.setTab(1)">Description</a></li>
				<li ng-class="{active: tab.isSet(2)}">
					<a href ng-click="tab.setTab(2)">Specs</a></li>
				<li ng-class="{active: tab.isSet(3)}">
					<a href ng-click="tab.setTab(3)">Reviews</a></li>
			</ul>

			<div ng-show="tab.isSet(1)">
				<h4>Description</h4>
				<blockquote>{{product.description}}</blockquote>
			</div>
			<div ng-show="tab.isSet(2)">
				<h4>Specs</h4>
				<blockquote>Shine: {{product.shine}}</blockquote>
			</div>
			<div ng-show="tab.isSet(3)">
				<ul>
					<h4>Reviews</h4>
					<li ng-repeat="review in product.reviews">
						<blockquote>
							<b>{{review.stars}} Star{{review.stars > 1 ? 's' : ''}}</b>
							{{review.body}}
							<cite class="clearfix">-{{review.author}}</cite>
						</blockquote>
					</li>
				</ul>
				<!-- Review Form -->
				<form name="reviewForm">
					<!-- Live Preview -->
					<blockquote>
						<strong>{{review.stars}} Star{{review.stars > 1 ? 's' : ''}}</strong>
						{{review.body}}
						<cite class="clearfix">-{{review.author}}</cite>
					</blockquote>
					<!-- Review Form -->
					<h4>Submit a review</h4>
					<fieldset class="form-group">
						<select class="form-control" ng-model="review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
							<option value="">Rate the product</option>
						</select>
					</fieldset>
					<fieldset class="form-group">
						<textarea class="form-control" ng-model="review.body" placeholder="Write a short review of the product..." title="Review"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input type="email" ng-model="review.author" class="form-control" placeholder="someaddress@adomain.com" title="Email" />
					</fieldset>
					<fieldset class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
					</fieldset>
				</form>
			</div>
		</section>
	</div>
</body>
</html>